.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}


.default-color0.chart-bar {
    -fx-bar-fill: #D2B48C;
}


.chart-title
{
    -fx-font-family: Woodtrap;
    -fx-font-size: 46px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.chart .axis {
    -fx-tick-label-fill: #fff;
    -fx-tick-label-weight: bold;
    -fx-tick-label-font-size: 14px;
}