#title {
    -fx-font-family: Woodtrap;
    -fx-font-size: 98px;
    -fx-text-fill: #fff;
}

#label-settings {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
}

.slider .axis {
    -fx-tick-label-fill: #fff;
}

.check-box {
    -fx-text-fill: #fff;
}